<launch>

    <!-- <node pkg="rosserial_server" type="serial_node" name="rosserial_plate" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
    </node> -->

    <node pkg="rosserial_server" type="serial_node" name="rosserial_arm" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
    </node>

</launch>