<launch>
  <param name="side" type="int" value="1" />
  <param name="robot" type="int" value="0" />
  <node name="rbetter_cake" pkg="Eurobot2023_main_test" type="better_cake.py" output="screen" />
  <node name="rfirst_cherry" pkg="Eurobot2023_main_test" type="first_cherry.py" output="screen" />
  <node name="rmission_callback" pkg="Eurobot2023_main_test" type="ultra_mission_feedback.py" output="screen" />
  <node name="rrelease" pkg="Eurobot2023_main_test" type="release.py" output="screen" />
  <node name="rmain" pkg="Eurobot2023_main_test" respawn="false" type="Babies_First_CNC" output="screen" />
  
</launch>